<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>Fes Sentiment</title>

    {% block css %}

   
    {% endblock css %}
</head>
<body>
    

{% block content %}
<!-- Main content goes here -->
{% endblock content %}  

<!-- Add your scripts here -->

<script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
<script src="{{ url_for('static', filename='js/pospore.js') }}"></script>
<script src="{{ url_for('static', filename='js/alpine.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% block script %}
<!-- Page-specific scripts go here -->  
{% endblock script %}

</body>
</html>
